.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}
.montserrat {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
* {
  font-family: "Montserrat", Geneva, sans-serif;
  font-size: 16px;
  font-weight: 400;
}
.main_page {
  background-image: url(../images/studio.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
header {
  height: 10vh;
  margin-right: 10%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
nav a {
  margin: 20px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  text-decoration: none;
}
nav a:hover {
  border-bottom: 2px solid rgb(255, 255, 255);
}
#main {
  height: 80vh;
  display: flex;
  justify-content: center;
  align-items: center;
  border-top: 1px solid rgb(161, 161, 161);
}
.main_part {
  width: 70%;
  height: 30vh;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: rgb(255, 255, 255);
}
h1 {
  font-size: 1rem;
  font-weight: 500;
}
.slogan {
  width: 100%;
  margin: auto;
  font-size: 3rem;
  font-weight: 800;
  line-height: 90%;
}
.button {
  width: 15%;
  align-self: center;
  padding: 13px 36px 15px 36px;
  font-weight: 500;
  color: rgb(255, 255, 255);
  background-color: rgb(73, 133, 255);
  border-radius: 20px;
  text-decoration: none;
  text-align: center;
}
.button:hover {
  background-color: rgba(73, 134, 255, 0.603);
}
.services {
  width: 70%;
  height: 80vh;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.services_part {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.services_title {
  width: 80%;
  text-align: center;
}
.services_content {
  width: 80%;
  text-align: center;
}
.services_container {
  display: flex;
}
.services_grid {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: 1fr 1fr;
  height: 15vh;
}
.icon {
  padding: 5%;
  border: 1px solid rgb(73, 133, 255);
  border-radius: 50%;
  justify-self: end;
}
.services_text {
  font-size: 0.9em;
  grid-area: 2/2/3/3;
}
#services,
#projects {
  height: 80vh;
  background-color: rgb(246, 246, 248);
}
.content {
  width: 70%;
  height: 60vh;
  margin: auto;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.wrap {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 40%;
  height: 35vh;
  margin: auto;
}
h2 {
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 110%;
  color: rgb(50, 50, 50);
}
.text {
  line-height: 120%;
  color: rgb(153, 153, 153);
}
#link {
  color: rgb(73, 133, 255);
  text-decoration: underline;
}
.image {
  width: 50%;
  height: 40vh;
  object-fit: contain;
}
.grid_1 {
  width: 65%;
  height: 20vh;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  align-content: center;
  margin: auto;
}
.grid_1_content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 50px 50px;
  align-items: center;
}
.number {
  font-size: 2.25rem;
  color: rgb(0, 0, 0);
}
.grid_1_text {
  grid-area: 2/1/3/3;
}
.works {
  height: 90vh;
  background: rgb(255, 255, 255);
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 1) 50%,
    rgba(133, 75, 219, 1) 50%,
    rgba(95, 18, 208, 1) 100%
  );
  display: flex;
  flex-direction: column;
}
.works_part {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.works_title {
  width: 60%;
  color: rgb(255, 255, 255);
}
.works_container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin: auto;
  border-bottom: 1px solid rgb(224, 224, 224);
}
.works_flex {
  display: flex;
  flex-direction: column;
  width: 30%;
  padding: 10px;
}
span {
  font-size: 1rem;
  font-weight: 600;
  color: rgb(73, 133, 255);
}
.content_2 {
  width: 70%;
  margin: auto;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.title {
  color: rgb(0, 0, 0);
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 110%;
  text-align: center;
}
.flex_2_content {
  width: 70%;
  text-align: center;
}
.images {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
}
.projects_images {
  width: 23%;
  height: 23vh;
  margin: 1%;
  object-fit: contain;
}
footer {
  background: rgb(246, 246, 248);
  border: 1px solid white;
}
.footer {
  width: 70%;
  margin: auto;
  display: flex;
  justify-content: space-between;
}
.footer_col,
a {
  color: rgb(153, 153, 153);
  text-decoration: none;
}
.footer_col1 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.footer_col2 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.footer_col3 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.footer_col4 {
  display: grid;
  grid-template-rows: repeat(5, 1fr);
}
.subtitle {
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 120%;
  color: rgb(0, 0, 0);
}
@media screen and (min-width: 2560px) {
  * {
    font-size: 26px;
  }
}
@media screen and (max-width: 1120px) {
  .footer {
    width: 80%;
  }
}
@media screen and (max-width: 860px) {
  .main_part,
  .services,
  .content,
  .works_part,
  .works_container,
  .content_2 {
    width: 85%;
  }
  .button {
    width: 20%;
  }
}
@media screen and (max-width: 707px) {
  .main_part,
  .services,
  .content,
  .works_part,
  .works_container,
  .content_2 {
    width: 95%;
  }
}
@media screen and (max-width: 685px) {
  header {
    justify-content: center;
    margin-right: 0;
  }
}
@media screen and (max-width: 634px) {
  .services {
    height: 100vh;
  }
}
@media screen and (max-width: 553px) {
  .main_part,
  .content,
  .works_part,
  .works_container,
  .content_2 {
    height: 60vh;
  }
  .footer {
    width: 95%;
  }
}
@media screen and (max-width: 516px) {
  h2 {
    font-size: 1.5rem;
  }
  .grid_1 {
    justify-content: center;
  }
}
